<!DOCTYPE html>
<html>
<head>
  <title>Crackthewheel</title>
  <script src="build/react.js"></script>
  <script src="build/JSXTransformer.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
≈
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<html>
  <head>

  </head>
  <body>
    <div id="mount-point"></div>
    <script type="text/jsx">
      // React Code Goes Here
    </script>
  </body>
</html>
